* {
    margin: 0;padding: 0;
    font-size: 14px;line-height: 1.5;text-decoration: none;
    color: #000;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: fixed;top: 0;left: 50%;
    display: flex;justify-content: space-between;
    /* margin-left: -700px; */
    width: 1400px;
    /* width: 100%; */
    /* background: #eee; */
    transform: translateX(-50%);
}
header h1 {
    width: 20%;
}
header h1 a {
    display: block;
    height: 100px;
    background: url(../images/logo.png) 0 50% no-repeat;
    text-indent: -9999px;
}
header nav {
    width: 60%;
}
header .nav-depth1 {
    display: flex;
    justify-content: space-around;
}
header .nav-depth1 > li {
    position: relative;
    width: 25%;
}
header .nav-depth1 > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
}
header .nav-depth1 > li:hover > a {
    border-bottom: 3px solid tomato;
}
header .nav-depth1 > li:hover .nav-depth2 {
    max-height: 200px;
}
header .nav-depth2 {
    position: absolute;top: 100px;left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    background: rgba(255,255,255,.7);
    display: flex;align-items: center;
    flex-direction: column;
}
header .nav-depth2 li {
    width: 100%;
}
header .nav-depth2 a {
    display: block;
    width: 100%;height: 50px;
    line-height: 50px;
    text-align: center;
}
header .nav-depth2 a:hover {
    background: tomato;
    color: #fff;
}


.slide {
    overflow: hidden;
    height: 100vh;
    background:tomato;
}
.slide ul {
    display: flex;
    width: 300%;height: 100vh;
}
.slide li {
    width: 100%;
}
.slide li:first-child {
    background: url(../images/slide-main2.jpg) 0 0 no-repeat;
    background-size: cover;
}
.slide li:nth-child(2) {
    background-size: cover;
    background: url(../images/slide-main1.jpg) 0 0 no-repeat;
}
.slide li:last-child {
    background-size: cover;
    background: url(../images/slide-main3.jpg) 0 0 no-repeat;
}
.slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.slide p {
    width: 400px;height: 200px;
    background: url(../images/slide-txt.png) 50% no-repeat;
    text-indent: -9999px;
}



.container .col-g {
    width: 1400px;margin: auto;padding: 50px 0;
}
.container .bg-gray {
    background: #eee;
}

footer {
    background: #555;
}